<div>
  <h2 id="page-heading" data-cy="ChartHeading">
    <span jhiTranslate="querybugApp.chart.home.title">Charts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="querybugApp.chart.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-chart"
        [routerLink]="['/chart/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="querybugApp.chart.home.createLabel"> Create a new Chart </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="charts?.length === 0">
    <span jhiTranslate="querybugApp.chart.home.notFound">No Charts found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="charts && charts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="querybugApp.chart.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="last">
            <div class="d-flex">
              <span jhiTranslate="querybugApp.chart.last">Last</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="maxCount">
            <div class="d-flex">
              <span jhiTranslate="querybugApp.chart.maxCount">Max Count</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="disabled">
            <div class="d-flex">
              <span jhiTranslate="querybugApp.chart.disabled">Disabled</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pair.id">
            <div class="d-flex">
              <span jhiTranslate="querybugApp.chart.pair">Pair</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="timeRange.id">
            <div class="d-flex">
              <span jhiTranslate="querybugApp.chart.timeRange">Time Range</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chart of charts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/chart', chart.id, 'view']">{{ chart.id }}</a>
          </td>
          <td>{{ chart.name }}</td>
          <td>{{ chart.last | formatMediumDatetime }}</td>
          <td>{{ chart.maxCount }}</td>
          <td>{{ chart.disabled }}</td>
          <td>
            <div *ngIf="chart.pair">
              <a [routerLink]="['/pair', chart.pair.id, 'view']">{{ chart.pair.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="chart.timeRange">
              <a [routerLink]="['/time-range', chart.timeRange.id, 'view']">{{ chart.timeRange.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/chart', chart.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/chart', chart.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(chart)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
