<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="touple">
      <h2 data-cy="toupleDetailsHeading"><span jhiTranslate="querybugApp.touple.detail.title">Touple</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ touple.id }}</span>
        </dd>
        <dt><span jhiTranslate="querybugApp.touple.computation">Computation</span></dt>
        <dd>
          <span>{{ touple.computation }}</span>
        </dd>
        <dt><span jhiTranslate="querybugApp.touple.time">Time</span></dt>
        <dd>
          <span>{{ touple.time | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="querybugApp.touple.calculation">Calculation</span></dt>
        <dd>
          <div *ngIf="touple.calculation">
            <a [routerLink]="['/calculation', touple.calculation.id, 'view']">{{ touple.calculation?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="querybugApp.touple.ohlc">Ohlc</span></dt>
        <dd>
          <div *ngIf="touple.ohlc">
            <a [routerLink]="['/ohlc', touple.ohlc.id, 'view']">{{ touple.ohlc?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/touple', touple.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
