<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="timeRange">
      <h2 data-cy="timeRangeDetailsHeading"><span jhiTranslate="querybugApp.timeRange.detail.title">Time Range</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ timeRange.id }}</span>
        </dd>
        <dt><span jhiTranslate="querybugApp.timeRange.name">Name</span></dt>
        <dd>
          <span>{{ timeRange.name }}</span>
        </dd>
        <dt><span jhiTranslate="querybugApp.timeRange.rangeSize">Range Size</span></dt>
        <dd>
          <span>{{ timeRange.rangeSize }}</span>
        </dd>
        <dt><span jhiTranslate="querybugApp.timeRange.duration">Duration</span></dt>
        <dd>
          <span>{{ timeRange.duration | duration }} ({{ timeRange.duration }})</span>
        </dd>
        <dt><span jhiTranslate="querybugApp.timeRange.description">Description</span></dt>
        <dd>
          <span>{{ timeRange.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/time-range', timeRange.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
